body, html {
	height: 100%;
}

.container-fluid {
	text-align: center;
}

/* The title headings */
h1 {
	margin: 50px;
	color: #ff0000;
	text-shadow: 1px 1px 8px #fff;
}

/* background image properties */
.bg {
	/* The image used */
	background-image: url("../img/judgementday_1280.jpg");
	/* Full height */
	max-width: 100%;
	min-height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* our custom clock div settings */
.countdown-clock, .breakdown-clock {
	display: inline-block;
	width: auto;
}

/* override the default flipclock settings with our own custom settings */
.flip-clock-divider .flip-clock-label {
	font-weight: bold;
	color: #ff0000;
	text-shadow: 1px 1px 8px #fff;
}